@model WebApplication3.Models.Address

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Postal_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postal_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_update)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_update)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Address_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
