@model WebApplication3.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Store_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.First_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Create_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Create_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_update)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_update)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Customer_id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
